.car-list .container {
  padding-inline: 146px;
}
.carForm {
  display: flex;
  justify-content: center;
    margin-block: 0;
    position: relative;
    z-index: 999;
    margin-bottom: 100px;
  }
  
  .carForm .container {
    padding-inline: 146px;
    position: absolute;
    top: -50px;
    z-index: 1040;
  }
  
  .carForm .container .row-input {
    padding: 24px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 9999;
    background-color: white;
  }
  
  .carForm .container .row .col-3 label {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #3c3c3c;
    margin-bottom: 4px;
  }
  
  .carForm .col-10 {
    gap: 16px;
  }
  
  .carForm .container .row .col-3 input,
  .carForm .container .row .col-3 select,
  .carForm .container .row .col-3 option {
    color: #3c3c3c;
    padding: 9px 12px;
    border-radius: 2px;
    font-size: 12px;
  }
  
  .carForm .btnSearch {
    display: block;
    border: none;
    border-radius: 2px;
    background-color: #5cb85f;
    width: 92px;
    padding: 8px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: white;
  }
  
  .hero-cars {
    height: 150px;
  }
  
  #cars-container {
    gap: 10px;
  }
  
  #cars-container .col-4 {
    border: 1px solid black;
  }